In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
from datetime import datetime as dt


confirmed_cases = pd.read_csv('Dados/casos_confirmados.csv')
confirmed_deaths = pd.read_csv('Dados/casos_mortes.csv')
confirmed_recovered = pd.read_csv('Dados/casos_recuperados.csv')

In [2]:
confirmed_recovered

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20,3/7/20,3/8/20,3/9/20,3/10/20,3/11/20
0,NaN,Thailand,15.0000,101.0000,0,0,0,0,2,2,...,31,31,31,31,31,31,31,31,33,34
1,NaN,Japan,36.0000,138.0000,0,0,0,0,1,1,...,32,43,43,43,46,76,76,76,101,118
2,NaN,Singapore,1.2833,103.8333,0,0,0,0,0,0,...,78,78,78,78,78,78,78,78,78,96
3,NaN,Nepal,28.1667,84.2500,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
4,NaN,Malaysia,2.5000,112.5000,0,0,0,0,0,0,...,18,22,22,22,22,23,24,24,24,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399,"Socorro, NM",US,33.8837,-106.7235,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
400,"Bernalillo, NM",US,35.0178,-106.6291,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
401,"Oakland, MI",US,42.5922,-83.3362,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
402,"Wayne, MI",US,42.2791,-83.3362,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
403,"New Castle, DE",US,39.5393,-75.6674,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
confirmed_cases['Province/State']

0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
            ...
399       Socorro, NM
400    Bernalillo, NM
401       Oakland, MI
402         Wayne, MI
403    New Castle, DE
Name: Province/State, Length: 404, dtype: object

In [153]:
class MLP():
    def __init__(self):
        pass
    def Prepare_Data(self,dataset):
        x = dataset.drop(columns=['Total_Deaths','timestep'])
        self.X = x.to_numpy()
        y = dataset['Total_Deaths']
        self.Y = y.to_numpy()
        self.Y = self.Y.astype(float)
    def Build(self,janela,nmr_parametros):
        self.model = keras.Sequential()
        self.model.add(keras.layers.LSTM(216, input_shape=(janela, nmr_parametros), return_sequences=True))
        self.model.add(keras.layers.LSTM(128, input_shape=(janela, nmr_parametros), return_sequences=True))
        self.model.add(keras.layers.LSTM(64, input_shape=(janela, nmr_parametros), return_sequences=False))
        self.model.add(keras.layers.Dense(16, activation="relu", kernel_initializer="uniform"))
        self.model.add(keras.layers.Dense(1, activation="linear"))
                       
    def RMSE(self,y_true,y_pred):
        print(y_true)
        return tf.cast(keras.backend.sqrt(keras.backend.mean(keras.backend.square(y_pred - y_true))),tf.float32)

    def Fit(self):
        self.model.compile(loss=self.RMSE,optimizer=keras.optimizers.Adam(),metrics=['mae',self.RMSE])
        self.history = self.model.fit(x=np.reshape(self.X,(-1,1,3)),y=self.Y,epochs=5,validation_split=0.1)
    def Predict(self,data):
        result = self.model.predict(np.reshape(data,(-1,1,3)))
        return result

In [154]:
class Data():
    def __init__(self):
        pass
    def PreparaData(self,confirmed,deaths,recovered):
        confirmed = confirmed.drop(columns=['Province/State','Country/Region','Lat','Long'])
        deaths = deaths.drop(columns=['Province/State','Country/Region','Lat','Long'])
        recovered = recovered.drop(columns=['Province/State','Country/Region','Lat','Long'])
        timesteps = []
        total_infetados = []
        total_Days = []
        total_Deaths = []
        total_Recovered = []
        self.new_dataset = pd.DataFrame()
        Ground_Zero = dt.strptime('12/31/19','%m/%d/%y')
        for cols in confirmed.columns:
            timesteps.append(cols)
            total_infetados.append(confirmed[cols].sum())
            current_date = dt.strptime(cols,'%m/%d/%y')
            days_Gone = current_date - Ground_Zero
            total_Days.append(int(days_Gone.days))
        for cols in deaths.columns:
            total_Deaths.append(deaths[cols].sum())
        for cols in recovered.columns:
            total_Recovered.append(recovered[cols].sum())
        self.new_dataset['timestep'] = timesteps
        self.new_dataset['Total_Cases'] = total_infetados
        self.new_dataset['Total_Recovered'] = total_Recovered
        self.new_dataset['Total_Deaths'] = total_Deaths
        self.new_dataset['Days_Gone'] = total_Days
        pd.DataFrame.to_csv(self.new_dataset,'Dados/new_dataset.csv')

In [155]:
data = Data()
data.PreparaData(confirmed_cases,confirmed_deaths,confirmed_recovered)
print(data.new_dataset)

   timestep  Total_Cases  Total_Recovered  Total_Deaths  Days_Gone
0   1/22/20          555               28            17         22
1   1/23/20          653               30            18         23
2   1/24/20          941               36            26         24
3   1/25/20         1434               39            42         25
4   1/26/20         2118               52            56         26
5   1/27/20         2927               61            82         27
6   1/28/20         5578              107           131         28
7   1/29/20         6166              126           133         29
8   1/30/20         8234              143           171         30
9   1/31/20         9927              222           213         31
10   2/1/20        12038              284           259         32
11   2/2/20        16787              472           362         33
12   2/3/20        19881              623           426         34
13   2/4/20        23892              852           492         35
14   2/5/20        27635             1124           564         36
15   2/6/20        30817             1487           634         37
16   2/7/20        34391             2011           719         38
17   2/8/20        37120             2616           806         39
18   2/9/20        40150             3244           906         40
19  2/10/20        42762             3946          1013         41
20  2/11/20        44802             4683          1113         42
21  2/12/20        45221             5150          1118         43
22  2/13/20        60368             6295          1371         44
23  2/14/20        66885             8058          1523         45
24  2/15/20        69030             9395          1666         46
25  2/16/20        71224            10865          1770         47
26  2/17/20        73258            12583          1868         48
27  2/18/20        75136            14352          2007         49
28  2/19/20        75639            16121          2122         50
29  2/20/20        76197            18177          2247         51
30  2/21/20        76823            18890          2251         52
31  2/22/20        78579            22886          2458         53
32  2/23/20        78965            23394          2469         54
33  2/24/20        79568            25227          2629         55
34  2/25/20        80413            27905          2708         56
35  2/26/20        81395            30384          2770         57
36  2/27/20        82754            33277          2814         58
37  2/28/20        84120            36711          2872         59
38  2/29/20        86011            39782          2941         60
39   3/1/20        88369            42716          2996         61
40   3/2/20        90306            45602          3085         62
41   3/3/20        92840            48228          3160         63
42   3/4/20        95120            51170          3254         64
43   3/5/20        97882            53796          3348         65
44   3/6/20       101784            55865          3460         66
45   3/7/20       105821            58358          3558         67
46   3/8/20       109795            60694          3802         68
47   3/9/20       113561            62494          3988         69
48  3/10/20       119298            64411          4290         70
49  3/11/20       126968            67014          4647         71

In [156]:
model = MLP()
model.Build(1,3)
model.Prepare_Data(data.new_dataset)
model.Fit()

Tensor("dense_67_target:0", shape=(None, None), dtype=float32)
Tensor("dense_67_target:0", shape=(None, None), dtype=float32)
Train on 45 samples, validate on 5 samples
Epoch 1/5
Tensor("Cast_1:0", shape=(None, 1), dtype=float32)
Tensor("metrics/RMSE/Cast:0", shape=(None, 1), dtype=float32)
Tensor("Cast_1:0", shape=(None, 1), dtype=float32)
Tensor("metrics/RMSE/Cast:0", shape=(None, 1), dtype=float32)
32/45 [====================>.........] - ETA: 1s - loss: 1955.4598 - mae: 1572.5299 - RMSE: 1955.4598Tensor("Cast_1:0", shape=(None, 1), dtype=float32)
Tensor("metrics/RMSE/Cast:0", shape=(None, 1), dtype=float32)
45/45 [==============================] - 6s 130ms/sample - loss: 1884.2531 - mae: 1490.8849 - RMSE: 1832.2175 - val_loss: 4074.7227 - val_mae: 4056.9851 - val_RMSE: 4074.7227
Epoch 2/5
45/45 [==============================] - 0s 513us/sample - loss: 1885.3759 - mae: 1490.8684 - RMSE: 1927.5507 - val_loss: 4074.7031 - val_mae: 4056.9656 - val_RMSE: 4074.7031
Epoch 3/5
45/45 [==============================] - 0s 502us/sample - loss: 1873.6849 - mae: 1490.8488 - RMSE: 1767.3792 - val_loss: 4074.6792 - val_mae: 4056.9414 - val_RMSE: 4074.6792
Epoch 4/5
45/45 [==============================] - 0s 513us/sample - loss: 1887.3432 - mae: 1490.8236 - RMSE: 1899.1479 - val_loss: 4074.6472 - val_mae: 4056.9097 - val_RMSE: 4074.6472
Epoch 5/5
45/45 [==============================] - 0s 491us/sample - loss: 1883.7589 - mae: 1490.7899 - RMSE: 1828.5283 - val_loss: 4074.6023 - val_mae: 4056.8647 - val_RMSE: 4074.6023

In [152]:
newitem = np.array([128723,70023,72])
newitem = np.reshape(newitem,(1,3))
model.Predict(newitem)

array([[0.09757859]], dtype=float32)